
Sales Report from 2024-01-02 00:00:00 +0000 UTC to 2024-01-03 00:00:00 +0000 UTC<br>
<hr>
Order Summary:
<hr>
  OrderID: 180151<br>
  Status: Order Delivered<br>
  Total Amount: 2700.00<br>
<hr>
  OrderID: 461441<br>
  Status: Order Delivered<br>
  Total Amount: 3000.00<br>
<hr>
  OrderID: 396906<br>
  Status: Order Delivered<br>
  Total Amount: 9000.00<br>
<hr>
  OrderID: 275697<br>
  Status: Order Delivered<br>
  Total Amount: 3000.00<br>
<hr>
  OrderID: 201029<br>
  Status: Order Delivered<br>
  Total Amount: 3000.00<br>

<hr>
Product Details:
<hr>
  Product: Nike Fly Air<br>
  Quantity: 1<br>
  Unit Price: 3000.00<br>
  Total Price: 3000.00<br>
<hr>
  Product: Nike Fly Air<br>
  Quantity: 1<br>
  Unit Price: 3000.00<br>
  Total Price: 3000.00<br>
<hr>
  Product: Nike Air<br>
  Quantity: 3<br>
  Unit Price: 3000.00<br>
  Total Price: 9000.00<br>
<hr>
  Product: Nike Fly Air<br>
  Quantity: 1<br>
  Unit Price: 3000.00<br>
  Total Price: 3000.00<br>
<hr>
  Product: Nike Air<br>
  Quantity: 1<br>
  Unit Price: 3000.00<br>
  Total Price: 3000.00<br>

<hr>
Total Quantity: 7<br>
Total Amount: 20700.00<br>
